@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));
@plugin "daisyui" {
  themes: all;
}

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-gray-primary: #6b7280;
  --color-gray-secondary: #4b5563;
  --color-gray-third: #9ca3af;
  --color-text-primary: #030712;
  --color-heading-primary: #111827;
  --color-red-primary: #dc2626;
  --color-purple-primary: #634c9f;
  --color-layout-primary: #f5f4fe;

  --font-secondary: "Barlow", sans-serif;
  --font-dashboard: "Poppins", sans-serif;

  --animate-wiggle: wiggle 1s ease-in-out infinite;
}

:root {
  font-family: "Inter", "sans-serif";
}
button {
  cursor: pointer;
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-6deg);
  }
  50% {
    transform: rotate(6deg);
  }
}

@layer base {
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
